@model CSCI213___Assignment_5.Song

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SongID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
